<template>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Add New Reminder</div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="">Title</label>
                                <input type="text" name="title" id="title"  v-model="formData.main.title" class="form-control" >
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="">Todo</label>
                                <select v-model="formData.main.todo_id" name="todo_id" id="todo_id" class="form-control">
                                    <option value="" >Select Todo</option>
                                    <option v-for="(row) in rows" :value="row.id">{{row.title}}</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="">Set Reminder Time</label>
                                <div>
                                    <table class="table">
                                        <thead>
                                        <th>At Date</th>
                                        <th>At Time</th>
                                        <th>Action</th>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(dataRow, index) in formData.dataRows" v-bind:key="index">

                                            <td><input type="date" name="at_date" id="at_date"  v-model="dataRow.at_date" class="form-control" ></td>
                                            <td><input type="time" name="time" id="time"  v-model="dataRow.at_time" class="form-control" ></td>
                                            <td>
                                                <span @click="removeDataRow(index)"  class="btn btn-sm btn-danger text-center">(X)</span>
                                                <span v-if="index + 1 === formData.dataRows.length" @click="addMore" class="btn btn-sm btn-info text-center">(+)</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="button" name="submit" class="btn btn-success" value="Add Reminder" @click="submitForm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddReminderComponent",
        props:['addReminderRoute','fetchTodoRoute','editId'],
        data:function(){
            return {
                formData : {
                   main:{
                       title:'',
                       details:'',
                       todo_id:'',
                   },
                    dataRows: [],//details
                },
                rows:[],
            }

        },
        methods:{
            addMore:function() {
                let checkEmptyLines = this.formData.dataRows.filter(dataRows => dataRows.number === null)
                if (checkEmptyLines.length >= 1 && this.formData.dataRows.length > 0) return
                this.formData.dataRows.push({
                    at_date:'',
                    at_time:''
                });
            },
            removeDataRow: function(rowId) {
                this.formData.dataRows.splice(rowId, 1);
                if(this.formData.dataRows.length==0){
                    this.addMore();
                }
            },
            getData:function () {
                self=this;
                axios.get(this.fetchTodoRoute).then(function (response) {
                    self.rows=response.data.result;
                }).catch(error => {
                    console.log(error);
                });
            },
            submitForm:function () {
                const postData = {addReminder: true, data: this.formData};
                let self=this;
                return axios.post(this.addReminderRoute , postData).then( function(response){

                    alert('Added');
                    self.emptyForm();
                }).catch(error => {
                    console.log(error);
                });
            },
            emptyForm:function () {
                this.formData.title='';
                this.formData.details='';
                this.formData.at_time='';
                this.formData.todo_id='';
                this.formData.dataRows=[];
                this.addMore();
            }
        },
        mounted:function (){
            this.getData();
            this.addMore();
        }
    }
</script>

<style scoped>

</style>
