<template>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Reminders</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <th>Sr#.</th>
                        <th>Title</th>
                        <th>Details</th>
                        <th>Show</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        </thead>
                        <tbody>
                        <tr v-for="(row,index) in rows">
                            <td>{{index}}</td>
                            <td>{{row.title}}</td>
                            <td>{{row.details}}</td>
                            <td><a :href="'/reminder/show/'+row.id">Show</a></td>
                            <td><a href="">Edit</a></td>
                            <td><a :href="'/reminder/destroy/'+row.id">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ReminderComponent",
        props:['fetchReminderRoute'],
        data:function(){
            return {
                rows:{},
            }
        },
        methods:{
            fetchData:function () {
                self=this;
                return axios.get(this.fetchReminderRoute).then( function(response){
                    console.log(response);
                    self.rows=response.data.result;
                }).catch(error => {
                    console.log(error);
                });
            }
        },
        mounted() {
            this.fetchData();
        }
    }
</script>

<style scoped>

</style>
