<template>
    <div>
        <table class="table">
            <thead>
            <th>At Date</th>
            <th>At Time</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr v-for="(dataRow, index) in dataRows" v-bind:key="index">

                <td><input type="date" name="at_date" id="at_date"  v-model="dataRow.at_date" @change="emitData" class="form-control" ></td>
                <td><input type="time" name="time" id="time"  v-model="dataRow.at_time" @change="emitData" class="form-control" ></td>
                <td>
                    <span @click="removeDataRow(index)"  class="btn btn-sm btn-danger text-center">(X)</span>
                    <span v-if="index + 1 === dataRows.length" @click="addMore" class="btn btn-sm btn-info text-center">(+)</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "ReminderDetailsComponent",
        props:['isAdded','oldData'],
        data:function(){
            return {
                dataRows: [],
            }
        },
        methods: {
            addMore:function() {
                this.emitData();
                let checkEmptyLines = this.dataRows.filter(dataRows => dataRows.number === null)
                if (checkEmptyLines.length >= 1 && this.dataRows.length > 0) return
                this.dataRows.push({
                    at_date:'',
                    at_time:''
                });
            },
            removeDataRow: function(rowId) {
                this.dataRows.splice(rowId, 1);
                this.emitData();
                if(this.dataRows.length==0){
                    this.addMore();
                }
            },
            emitData:function () {
                this.$emit('sendData',this.dataRows);
            }
        },
        watch:{
            isAdded: function () {
                if(this.isAdded){
                    this.dataRows=[];
                    this.addMore();
                }
            }
        },
        mounted:function (){
            this.addMore();
        }
    }
</script>

<style scoped>

</style>

