<template>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Reminder Details</div>
                <h4>Title:</h4>
                <h5>Time:</h5>
                <h5>Type:</h5>
                <h5>Details</h5>
                <h5>Todo:</h5>
                <span class="text-center text-bold">Team Members</span>
                <div class="card-body">
                    <table class="table" >
                        <thead>
                        <th>Sr#.</th>
                        <th>Member</th>
                        <th>As</th>
                        </thead>
                        <tbody>
                        <tr v-for="(row,index) in rows" >
                            <td>{{index}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.role}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ViewReminderComponent",
        props:['fetchDataRoute'],
        data:function () {
            return {
                data:[],
                rows:[]
            }
        },
        methods:{
            fetchData:function () {
                self=this;
                axios.get(this.fetchDataRoute).then(function (response) {
                    console.log(response.data.result);
                    // self.data=response.data.result.todo;
                    // self.rows=response.data.result.tasks
                }).catch(error => {
                    console.log(error);
                });
            }
        },
        mounted() {
            this.fetchData();
        }
    }
</script>

<style scoped>

</style>
