<template>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Add New Todo</div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="">Date</label>
                                <input type="date" name="date" id="date"  v-model="formData.todo.on_date" class="form-control" >
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="">Title</label>
                                <input type="text" name="title" id="title"  v-model="formData.todo.title" class="form-control" >
                            </div>

                        </div>
                        <hr>
                        <h5>Tasks</h5>
                        <new-task-component :fetch-team-route="fetchTeamRoute" @sendData="getTasks" :is-added="isAdded"></new-task-component>
                        <hr>
                        <div class="form-group">
                            <input type="button" name="submit" class="btn btn-success" value="Add Todo" @click="addTodo">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import NewTaskComponent from "./NewTaskComponent";
    export default {
        name: "AddTodoComponent",
        components:{
            NewTaskComponent
        },
        props:['addTodoRoute','fetchTeamRoute','editId'],
        data:function(){
            return {
                formData : {
                    todo:{
                        title:'',
                        details:'',
                        on_date:'',
                    },
                    tasks:[]
                },
                isAdded:false,
            }

        },
        methods:{
            getTasks:function (tasks) {
                this.formData.tasks=tasks;
                console.log(tasks);
            },
            addTodo:function () {
                const postData = {addTodo: true, data: this.formData};
                let self=this;
                return axios.post(this.addTodoRoute , postData).then( function(response){
                    self.emptyForm();
                    alert('Todo Added');
                }).catch(error => {
                    console.log(error);
                });
            },
            emptyForm:function () {
                this.formData.title='';
                this.formData.details='';
                this.formData.on_date='';
                this.formData.tasks=[];
                this.isAdded=true;
                setTimeout(function(){ this.isAdded=false; }, 1000)
            }
        }
    }
</script>

<style scoped>

</style>
