<template>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Assigned Tasks</div>
                <tasks-component :rows="data" :isAssignedTask="true"></tasks-component>
            </div>
        </div>
    </div>
</template>

<script>

    import TasksComponent from "./TasksComponent";
    export default {
        name: "AssignedTasksComponent",
        props:['assignedTasksLoadRoute'],
        components: {TasksComponent},
        data:function () {
            return {
                data:[],
            }
        },
        methods:{
            fetchData:function () {
                self=this;
                axios.get(this.assignedTasksLoadRoute).then(function (response) {
                    console.log(response.data.result);
                    self.data=response.data.result;
                }).catch(error => {
                    console.log(error);
                });
            }
        },
        mounted() {
            this.fetchData();
        }

    }
</script>

<style scoped>

</style>
