<template>
    <div>
        <table class="table">
            <thead>
            <th>Time</th>
            <th>Title</th>
            <th>Details</th>
            <th>Max Time(Min)</th>
            <th>Assign To User</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr v-for="(task, index) in tasks" v-bind:key="index">
                <td><input type="time" name="time" id="time"  v-model="task.at_time" @change="emitData" class="form-control" ></td>
                <td><input type="text" name="title" id="title"  v-model="task.title" @change="emitData" class="form-control" placeholder="Title"></td>
                <td><input type="text" name="details" id="details"  v-model="task.details" @change="emitData" class="form-control" placeholder="Details"></td>
                <td><input type="text" name="max_min" id="max_min"  v-model="task.max_min" @change="emitData" class="form-control" placeholder="Max Time in Minutes"></td>
                <td><select name="user_id" id="user_id" v-model="task.user_id" @change="emitData" class="form-control">
                        <option value="" >Select User</option>
                        <option v-for="(row) in rows" :value="row.id">{{row.name}} as ({{row.roles[0].name}})
                        </option>
                    </select></td>
                <td> <span @click="removeTask(index)" class="btn btn-sm btn-danger text-center">(X)</span>
                    <span v-if="index + 1 === tasks.length" @click="addTask" class="btn btn-sm btn-info text-center">(+)</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "NewTaskComponent",
        props:['isAdded','oldData','fetchTeamRoute'],
        data:function(){
            return {
                tasks: [],
                blockRemoval: true,
                rows:[]
            }
        },
        methods: {
            loadUsers: function () {
                self=this;
                axios.get(this.fetchTeamRoute).then(function (response) {
                    self.rows=response.data.result;
                }).catch(error => {
                    console.log(error);
                });
            },
            addTask:function() {
                let checkEmptyLines = this.tasks.filter(task => task.number === null)
                if (checkEmptyLines.length >= 1 && this.tasks.length > 0) return
                this.tasks.push({
                    at_time:'',
                    title:'',
                    details:'',
                    max_min:'30',
                    user_id:''
                });
            },
            removeTask: function(taskId) {
                this.tasks.splice(taskId, 1);
                this.emitData();
                if(this.tasks.length==0){
                    this.addTask();
                }
            },
            emitData:function () {
                this.$emit('sendData',this.tasks);
            }
        },
        watch:{
          isAdded: function () {
              if(this.isAdded){
                  this.tasks=[];
                  this.addTask();
              }
          }
        },
        mounted:function (){
            this.loadUsers();
            this.addTask();

        }
    }
</script>

<style scoped>

</style>
