<template>
    <div class="card-body">
        <table class="table" >
            <thead>
            <th>Sr#.</th>
            <th>On Time</th>
            <th>Title</th>
            <th>Details</th>
            <th>Max Time</th>
            <th>Status</th>
            <th v-if="!isAssignedTask">Assigned To User</th>
            <th>Mark As</th>
            </thead>
            <tbody>
            <tr v-for="(row,index) in rows" >
                <td>{{index}}</td>
                <td>{{row.at_time}}</td>
                <td>{{row.title}}</td>
                <td>{{row.detail}}</td>
                <td>{{row.max_min}}</td>
                <td>{{row.status}}</td>
                <td v-if="!isAssignedTask">{{row.user.name}}</td>
                <td v-if="row.status!=='Done'"><a :href="'/todo/taskDone/'+row.id">Done</a></td>
                <td v-else >--//--</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "TasksComponent",
        props:['rows','isAssignedTask'],


    }
</script>

<style scoped>

</style>
