<template>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">My Todos</div>
                <div class="card-body">
                    <table class="table" >
                        <thead>
                        <th>Sr#.</th>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Show</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        </thead>
                        <tbody>
                        <tr v-for="(row,index) in rows" >
                            <td>{{index}}</td>
                            <td>{{row.on_date}}</td>
                            <td>{{row.title}}</td>
                            <td><a :href="'/todo/show/'+row.id">Show</a></td>
                            <td><a href="">Edit</a></td>
                            <td><a :href="'/todo/destroy/'+row.id">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TodoComponent",
        props:['fetchTodoRoute'],
        data:function(){
            return {
                rows:[],
            }
        },
        methods:{
            fetchData: function () {
                self=this;
                axios.get(this.fetchTodoRoute).then(function (response) {
                    self.rows=response.data.result;
                }).catch(error => {
                    console.log(error);
                });
            }
        },
        mounted() {
            this.fetchData();
        }
    }
</script>

<style scoped>

</style>
