<template>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">{{data.todo.on_date}} - {{data.todo.title}}</div>
<!--                 <h5>Tasks</h5>-->
                <span class="text-center text-bold">Tasks in Todo</span>
                <tasks-component :rows="data.tasks" :isAssignedTask="false"></tasks-component>
            </div>
        </div>
    </div>
</template>

<script>
    import TasksComponent from "./TasksComponent";
    export default {
        name: "ViewTodoComponent",
        components: {TasksComponent},
        props:['fetchDataRoute'],
        data:function () {
            return {
                data:[],
            }
        },
        methods:{
            fetchData:function () {
                self=this;
                axios.get(this.fetchDataRoute).then(function (response) {
                     console.log(response.data.result);
                    self.data=response.data.result;

                    // self.rows=response.data.result.tasks
                }).catch(error => {
                    console.log(error);
                });
            }
        },
        mounted() {
            this.fetchData();
        }
    }
</script>

<style scoped>

</style>
