<template>
    <div class="container">
        <h1>Home</h1>
    </div>
</template>

<script>
    export default {
        name: "homeComponent",
        props:['fetchTodoRoute','fetchRemRoute'],
    }
</script>

<style scoped>

</style>
