<template>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Add New Team Member</div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="">Name</label>
                                <input type="text" name="name" id="name"  v-model="formData.name" class="form-control" >
                                <div id="error_name" class="invalid-feedback">{{error.name}}</div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="">Email</label>
                                <input type="email" name="email" id="email"  v-model="formData.email" class="form-control" >
                                <div id="error_email" class="invalid-feedback">{{error.email}}</div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="">Password</label>
                                <input type="password" name="password" id="password"  v-model="formData.password" class="form-control" >
                                <div id="error_password" class="invalid-feedback">{{error.password}}</div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="">User Role</label>
                                <select name="user_role" id="user_role" v-model="formData.user_role" class="form-control">
                                    <option value="" disabled>Select User Role</option>
                                    <option v-for="(row) in rows" :value="row.name">
                                        {{row.name}}
                                    </option>
                                </select>
                                <div id="error_user_role" class="invalid-feedback">{{error.user_role}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="button" name="submit" class="btn btn-success" value="Add Team" @click="submitForm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CreateTeamComponent",
        props:['addTeamRoute','loadUserRolesRoute','editId'],
        data:function(){
            return {
                formData : {
                    name:'',
                    email:'',
                    password:'',
                    user_role:'',
                },
                rows:[],
                error:{
                    name:'',
                    email:'',
                    password:'',
                    user_role:''
                }
            }

        },
        methods:{
            loadUserRoles:function(){
                let self=this;
                return axios.get(this.loadUserRolesRoute).then( function(response){
                    console.log(response.data.result);
                    self.rows=response.data.result;
                }).catch(error => {
                    console.log(error);
                });
            },
            submitForm:function () {
                const postData = {addTeam: true, data: this.formData};
                let self=this;
                return axios.post(this.addTeamRoute , postData).then( function(response){
                    self.emptyForm();
                    alert('Team Added');
                }).catch((error) => {
                    // alert(error.response.data);
                    self.error=error.response.data;
                    console.log(self.error);
                });
            },
            emptyForm:function () {
                this.formData.name='';
                this.formData.email='';
                this.formData.password='';
                this.formData.user_role='';
            }
        },
        mounted() {
            this.loadUserRoles();
        }
    }
</script>

<style scoped>

</style>
