<template>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">My Team Members</div>
                <div class="card-body">
                    <table class="table" >
                        <thead>
                        <th>Sr#.</th>
                        <th>User</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        </thead>
                        <tbody>
                        <tr v-for="(row,index) in rows" >
                            <td>{{(index+1)}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.email}}</td>
                            <td>{{row.roles[0].name}}</td>
                            <td><a href="">Edit</a></td>
                            <td><a :href="'/team/destroy/'+row.id">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TeamComponent",
        props:['fetchTeamRoute'],
        data:function(){
            return {
                rows:[],
            }
        },
        methods:{
            fetchData: function () {
                self=this;
                axios.get(this.fetchTeamRoute).then(function (response) {
                    self.rows=response.data.result;
                }).catch(error => {
                    console.log(error);
                });
            }
        },
        mounted() {
            this.fetchData();
        }
    }
</script>

<style scoped>

</style>
